body{
    background:whitesmoke;
}
.toparea{
    background:whitesmoke;
    padding: 10px 0;
    
}
.toparea img{
    width:100px;
}
.toparea h1{
    text-align:justify;
}
.toparea strong{
    color: #127BC3;
}
.heading{
    background: whitesmoke;
}
.heading h1{
    color:#127BC3;
    text-align:center;
    padding:50px 0;
}
.boxarea{
    background:whitesmoke;
    padding-bottom: 50px ;
}
.box{
    margin:10px;
    overflow:hidden;
}
.box img{
    width:100%;
    transition: all 1s;
}
.box img:hover{
    transform:scale(1.2);
}
.box:hover{
    border-radius:50px;
}
.foot{
    background:#E7E7E7;
    padding:50px 0;
}
.foot h1{
    color:#127BC3;
}
.boxarea p strong{
    color:#127BC3;
}

.optane{
    background:#127BC3;
    color:whitesmoke;
    margin-bottom: 20px;
}
.optane h1{
    text-align:center;
}
.optane h3{
    text-align: center;
}
.opt_img img{
    width: 100%;
}
.gaming{
    color:whitesmoke;
    background:#127BC3;
    margin: 20px 0;
}
.gaming h1{
    text-align: center;
}
.nav-link{
    color:#127BC3 !important;
}
.nav-link:hover{
    color:whitesmoke !important;
    background:#127BC3;
    border-radius: 10px;
    text-decoration: underline;
    font-weight: bolder;
}
.btn{
    background: #127BC3 !important;
    color: whitesmoke !important;
}
.btn:hover{
    color: #127BC3 !important;
    background: whitesmoke !important;
}
.description{
        padding:50px 0;
}
.description h1,h4{
    color:#127BC3;
}
.ssd{
    background: #127BC3;
    color: whitesmoke;
    margin:20px 0;
}
.ssd h1{
    text-align: center;
}
.g1,.g2 h3{
    color:#127BC3;
    text-align: center;
}
.killer{
    background: #127BC3;
    color:whitesmoke;
    margin-bottom: 20px;
}
.killer h1{
    text-align: center;
}
.killerwifi{
    color:#127BC3;
    background:#E7E7E7;
    margin-bottom:20px;
}
.killerwifi img{
    width:200px;
}
.killerwifi p{
    font-size: 30px;
    font-weight: bolder;
}
